{
  "extends": "airbnb-base",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "no-multi-spaces": ["error", { "ignoreEOLComments": true }],
    "no-underscore-dangle": 0
  }
}